<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title of Page -->
    <title>Events|Eventager</title>

    <!-- Include Common Files -->
    <% include ./partials/header.ejs %>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/events.css">
    <!-- Custom JS -->
    <script src="/js/events.js"></script>

</head>

<body>

<!-- NAVBAR -->
<% include ./partials/navbar.ejs %>

<div class="container">
    <h1 id="heading" class="text-center my-3">Events</h1>
    <hr class="style14 mb-5">

    <form action="/events/filter" method="POST">
        <div class="form-group">
            <input type="hidden" name="old" value="<%= filterString %>">
            <input type="text" class="form-control" name="filter" placeholder="Enter tags to filter, separated by semicolon">
        </div>
    </form>

    <div class="container m-3">
        <% if(locals.filterTags){ %>
            <% filterTags.forEach((tag)=>{ %>
                <span class="filter-tag event-tag badge badge-pill badge-primary">
                    <%= tag %>
                    <a href="/events?q=<%=filterString.replace(tag+';','')%>"><i class="fa fa-times filterTagCross" aria-hidden="true"></i></a>
                </span>
            <% }) %>
        <% } %>
    </div>

    <div id="events-container">
        <!-- Individual Events to be added by JS -->
    </div>

    <div class="text-center my-5"><i id="loader" class="fa fa-spinner fa-3x"></i></div>
</div>

</body>
</html>
