<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eventager</title>

    <!-- Include Common Files -->
    <% include ./partials/header.ejs %>

    <!--Custom CSS-->
    <link rel="stylesheet" href="/css/index.css">
    <!-- Custom JS -->
    <script src="/js/index.js"></script>

</head>
<body>


<!-- NAVBAR -->
<% include ./partials/navbar.ejs %>

<div id="landing-section">
    <div class="container">
        <div class="col-12 text-center">
            <h2 id="landing-heading" class="text-uppercase">Eventager</h2>
            <h3 id="landing-subheading">Lorem ipsum dolor sit amet consectetur.</h3>
            <a href="#features" id="landing-btn" class="btn btn-primary btn-lg mt-5">Learn More</a>
        </div>
    </div>
</div>

<div id="features" class="container">
    <div class="row my-3 pt-5 pb-2">
        <div class="col-12 text-center">
            <h1 id="features-heading">Features</h1>
        </div>
    </div>
    <div class="row mb-2 pb-2">
        <div class="col-4 text-center">
            <div class="features-icon fa-stack fa-4x">
                <i class="fa fa-search text-primary"></i>
            </div>
            <h4 class="feature-heading p-2">Discover</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consequuntur
                corporis distinctio dolores et eum inventore, ipsa natus neque possimus quasi quo, tempora velit
                voluptatem.</p>
        </div>
        <div class="col-4 text-center">
            <div class="features-icon fa-stack fa-4x">
                <i class="fa fa-plus text-primary"></i>
            </div>
            <h4 class="feature-heading p-2">Create</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores cum
                dolore enim, facere facilis, labore minus necessitatibus nihil pariatur quae quas quibusdam, similique
                voluptatum.</p>
        </div>
        <div class="col-4 text-center">
            <div class="features-icon fa-stack fa-4x">
                <i class="fa fa-calendar-check-o text-primary"></i>
            </div>
            <h4 class="feature-heading p-2">Keep Track</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus eos facilis id
                iste! Harum magni obcaecati odit, officiis porro sit! Exercitationem labore quaerat quis quisquam!</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 text-center">
            <a href="#trending" id="get-started-btn" class="btn btn-primary btn-lg">Get Started</a>
        </div>
    </div>
</div>

</body>
</html>