<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eventager</title>

    <!-- Include Common Files -->
    <% include ./partials/header.ejs %>

    <!--Custom CSS-->
    <link rel="stylesheet" href="/css/index.css">
    <!-- Custom JS -->
    <script src="/js/index.js"></script>

</head>
<body>


<!-- NAVBAR -->
<% include ./partials/navbar.ejs %>

<div id="landing-section">
    <div class="container">
        <div class="col-12 text-center">
            <h2 id="landing-heading" class="text-uppercase">Eventager</h2>
            <h3 id="landing-subheading">Lorem ipsum dolor sit amet consectetur.</h3>
            <a href="#features" id="landing-btn" class="btn btn-primary btn-lg mt-5">Learn More</a>
        </div>
    </div>
</div>

<section id="features" class="py-3">
    <div class="container">
        <div class="row my-3 pt-5 pb-2">
            <div class="col-12 text-center">
                <h1 id="features-heading">Features</h1>
            </div>
        </div>
        <div class="row mb-2 pb-2">
            <div class="col-4 text-center">
                <div class="features-icon fa-stack fa-4x">
                    <i class="fa fa-search text-primary"></i>
                </div>
                <h4 class="feature-heading p-2">Discover</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consequuntur
                    corporis distinctio dolores et eum inventore, ipsa natus neque possimus quasi quo, tempora velit
                    voluptatem.</p>
            </div>
            <div class="col-4 text-center">
                <div class="features-icon fa-stack fa-4x">
                    <i class="fa fa-plus text-primary"></i>
                </div>
                <h4 class="feature-heading p-2">Create</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores cum
                    dolore enim, facere facilis, labore minus necessitatibus nihil pariatur quae quas quibusdam,
                    similique
                    voluptatum.</p>
            </div>
            <div class="col-4 text-center">
                <div class="features-icon fa-stack fa-4x">
                    <i class="fa fa-calendar-check-o text-primary"></i>
                </div>
                <h4 class="feature-heading p-2">Keep Track</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus eos facilis id
                    iste! Harum magni obcaecati odit, officiis porro sit! Exercitationem labore quaerat quis
                    quisquam!</p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 text-center">
                <a href="#trending" id="get-started-btn" class="btn btn-primary btn-lg">Get Started</a>
            </div>
        </div>
    </div>
</section>

<section id="trending" class="py-2">
    <div class="container">
        <div class="row my-3 pt-5 pb-2">
            <div class="col-12 text-center">
                <h1 id="features-heading">Trending</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 mb-3 info-card">
                <div class="card m-1">
                    <a href="">
                        <div class="front">
                            <img class="card-img-top card-image" src="http://via.placeholder.com/100x100"
                                 alt="Card image cap">
                            <div class="card-block p-2">
                                <h4 class="card-title text-truncate">Event Name</h4>
                                <p class="card-text">Number of people attending: <strong>512</strong></p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="card-block p-3">
                                <h2 class="card-title pb-2">Event Name</h2>
                                <h4>Venue</h4>
                                <p class="pb-2">Delhi</p>
                                <h4>Date</h4>
                                <p class="pb-2">Sun Dec 31 2017 11:59</p>
                                <button class="btn btn-warning mt-3">Click to know more!</button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-3 info-card">
                <div class="card m-1">
                    <a href="">
                        <div class="front">
                            <img class="card-img-top card-image" src="http://via.placeholder.com/100x100"
                                 alt="Card image cap">
                            <div class="card-block p-2">
                                <h4 class="card-title text-truncate">Event Name</h4>
                                <p class="card-text">Number of people attending: <strong>512</strong></p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="card-block p-3">
                                <h2 class="card-title pb-2">Event Name</h2>
                                <h4>Venue</h4>
                                <p class="pb-2">Delhi</p>
                                <h4>Date</h4>
                                <p class="pb-2">Sun Dec 31 2017 11:59</p>
                                <button class="btn btn-warning mt-3">Click to know more!</button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-3 info-card">
                <div class="card m-1">
                    <a href="">
                        <div class="front">
                            <img class="card-img-top card-image" src="http://via.placeholder.com/100x100"
                                 alt="Card image cap">
                            <div class="card-block p-2">
                                <h4 class="card-title text-truncate">Event Name</h4>
                                <p class="card-text">Number of people attending: <strong>512</strong></p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="card-block p-3">
                                <h2 class="card-title pb-2">Event Name</h2>
                                <h4>Venue</h4>
                                <p class="pb-2">Delhi</p>
                                <h4>Date</h4>
                                <p class="pb-2">Sun Dec 31 2017 11:59</p>
                                <button class="btn btn-warning mt-3">Click to know more!</button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-3 info-card">
                <div class="card m-1">
                    <a href="">
                        <div class="front">
                            <img class="card-img-top card-image" src="http://via.placeholder.com/100x100"
                                 alt="Card image cap">
                            <div class="card-block p-2">
                                <h4 class="card-title text-truncate">Event Name</h4>
                                <p class="card-text">Number of people attending: <strong>512</strong></p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="card-block p-3">
                                <h2 class="card-title pb-2">Event Name</h2>
                                <h4>Venue</h4>
                                <p class="pb-2">Delhi</p>
                                <h4>Date</h4>
                                <p class="pb-2">Sun Dec 31 2017 11:59</p>
                                <button class="btn btn-warning mt-3">Click to know more!</button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-3 info-card">
                <div class="card m-1">
                    <a href="">
                        <div class="front">
                            <img class="card-img-top card-image" src="http://via.placeholder.com/100x100"
                                 alt="Card image cap">
                            <div class="card-block p-2">
                                <h4 class="card-title text-truncate">Event Name</h4>
                                <p class="card-text">Number of people attending: <strong>512</strong></p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="card-block p-3">
                                <h2 class="card-title pb-2">Event Name</h2>
                                <h4>Venue</h4>
                                <p class="pb-2">Delhi</p>
                                <h4>Date</h4>
                                <p class="pb-2">Sun Dec 31 2017 11:59</p>
                                <button class="btn btn-warning mt-3">Click to know more!</button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-3 info-card">
                <div class="card m-1">
                    <a href="">
                        <div class="front">
                            <img class="card-img-top card-image" src="http://via.placeholder.com/100x100"
                                 alt="Card image cap">
                            <div class="card-block p-2">
                                <h4 class="card-title text-truncate">Event Name</h4>
                                <p class="card-text">Number of people attending: <strong>512</strong></p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="card-block p-3">
                                <h2 class="card-title pb-2">Event Name</h2>
                                <h4>Venue</h4>
                                <p class="pb-2">Delhi</p>
                                <h4>Date</h4>
                                <p class="pb-2">Sun Dec 31 2017 11:59</p>
                                <button class="btn btn-warning mt-3">Click to know more!</button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button id="view-trending-btn" class="btn btn-primary">
                    View all Trending Events
                    <i class="fa fa-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
</section>

</body>
</html>